* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-size: 15px;
  color: hsl(0, 2%, 34%);
}

h1 {
  color: black;
  font-weight: bold;
}

h2 {
  color: darkgoldenrod;
  font-weight: bold;
}

h3 {
  color: darkred;
  font-weight: bold;
}

.container {
  width: 40%;
  margin: 110px auto;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}

div {
  margin: 5px;
  padding: 5px;
}

li {
  padding: 3px;
  list-style-position: inside;
}

.instruction-step {
  margin-left: 15px;
  padding: 3px;
  list-style-position: outside;
  text-align: justify;
}

.dish-pic {
  width: 100%;
  border-radius: 10px;
}

.content-container {
  padding: 5px;
}
#prep-time {
  background-color: lightpink;
  border-radius: 10px;
}
